extends layout

block layout-content
  div.View
    h1.Banner Dog breeds
    div.Message
      div.Title
        h3 #{title}
        ul
          each val, key in breeds
            li
              a(href='/dogs/raw/' + key) #{key + ' (' + val.join(', ') + ')'}
                //if val.length
                //  li= key + ' (' + val.join(', ') + ')'
                //else
                //  li= key
