extends layout

block layout-content
  div.View
    h1.Banner Stuff
    div.Message
      div.Title
        h3 #{title}
      span.Details Don't know what this is
    div.NavButtons
      a(href="/user")
          div.NavButton Just dive in!
