extends ../layout

block layout-content
  div.View
    h1.Banner Metrics
    div.Message
      div.Title
        h3 #{title}
        ul
          each k in Object.keys(metrics)
            li= k + ': ' + JSON.stringify(metrics[k])
